# Ігнорувати системні файли операційної системи
*.DS_Store
*.pyc
*.pyo
*.pyd
__pycache__/

# Ігнорувати налаштування середовища
# Ігнорувати системні файли редактора/IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ігнорувати файли журналів та інших тимчасових файлів
*.log
*.sqlite3
*.bak
*.swp

# Ігнорувати папку з налаштуваннями Git
.git/
.gitignore

# Ігнорувати файли конфігурацій, які не повинні потрапляти у Docker image
docker-compose.override.yml

# Ігнорувати статичні та медіа файли (за потреби)
static/
media/

# Ігнорувати папку з віртуальним оточенням Python
venv/
.virtualenv/
.venv

# Ігнорувати коди, що використовуються для тестування
